[Unit]
Description=QuikFynd
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/quikfynd/QuikFynd/
ExecStart=/usr/share/quikfynd/QuikFynd/QuikFynd
Restart=on-abort

[Install]
WantedBy=multi-user.target